body{
    margin: 0px;
    padding: 0px;
    display: flex;
    flex-direction: column;
    font-family: 'roboto',sans-serif;
    height: 100vh;
    align-items: center;
}
button{
    background: none;
    border: none;
    margin: 0px;
    padding: 0px;
    width: auto;
    height: fit-content;
}

/* Header */
#headerContainer{
    display: flex;
    justify-content: space-around;
    width: 100vw;
    background: #282828;
}
#header{
    display: flex;
    justify-content: space-around;
    padding-top: 10px;
    width: 70vw;
    gap: 40px;
}
#header ul{
    color: #fff;
    height: fit-content;
    padding: 0px;
    list-style: none;
    margin: 0px;
    display: flex;
    gap: 30px;
    align-items: center;
}
#headerContent{
    display: flex;
    align-items: center;
    gap: 30px;
    white-space: nowrap;
}
#adopt{
    background: #5C85A0;
    color: #fff;
    border: solid white 1px;
    border-radius: 8px;
    padding: 6px;
}
#hamburgerMenu{
    display: flex;
    align-items: center;
}

@media screen and (min-width:805px){
    #hamburgerMenu{
        display: none;
    }
}

@media screen and (max-width: 804px) {
    #headerContent{
        display: none;
    }
    #headerContainer{
        display: flex;
        justify-content: center;
    }
    #header{
        align-items: center;
        justify-content: space-around;
    }
}

@media screen and (max-width: 400px){
    #headerLogo img{
        width: 180px;
        height: auto;
    }
    #header{
        
        justify-content: space-evenly;
    }
}

@media screen and (max-width: 281px){
    #header{
        gap: 20px;
    }
}
